WindowsForms/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56180/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SessionDuration" type="ser:duration" />
      <xs:element minOccurs="0" name="SessionEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionStart" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="ArrayOfSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Session" nillable="true" type="tns:Session" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSession" nillable="true" type="tns:ArrayOfSession" />
</xs:schema>